<div class="banner">
    <img src="<%- url_for(theme.banner) %>" alt="">
</div>
<section>
    <div  class="container">
        <div class="main">
            <div class="main-section">
                <nav>
                    <ul>
                        <%- partial('_partial/menu',{index:'all'}) %>
                    </ul>
                </nav>
                <div class="articles">
                    <%-createMenu(page.posts)%>
                </div>
            </div>
            <% if (page.total > 1){ %>
            <%- partial('page') %>
            <% } %>
        </div>
        <aside>
            <%- partial('_partial/wx') %>
            <%- partial('_partial/friendshipLink') %>
        </aside>

    </div>
</section>
<%- partial('_partial/backtop') %>